body {
    background-image: url("../images/BackgroundGame.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Sniglet' "sans-serif" ;


    }


@import url(https://fonts.googleapis.com/css?family=Sniglet:800);

#canvas {
    margin-left: 300px;
    margin-top: 170px;
    width: 600px;
    height: 400px;
    border: 1px solid black;
  }



  .container{
    display: flex;
    justify-content: center;
    margin-top: 15px; 
   
}

.restart-button a {
    display:block;
    width: 200px;
    height:100px ;
    text-align:center;
    background:url("../images/restartButton.png") no-repeat;
    text-decoration:none;
    background-size: contain;
    }
    .restart-button a:hover {
        background:url("../images/restarButton-hover.png") no-repeat;
        background-size: contain;
    }

    
    
    