body {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url("../images/BackGroundIntroSmall.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1200px;
    height: 800px;
    margin: 0;
}

/* 
.bouton-lets-play {
   
} */


.bouton-lets-play a {
    display: flex;
    margin: auto;
    width: 200px;
    height: 100px;
    text-align: center;
    background: url("../images/button-lets-play.png") no-repeat;
    text-decoration: none;
    background-size: contain;
}

.bouton-lets-play a:hover {
    background: url("../images/button-lets-play-hover.png") no-repeat;
    background-size: contain;
}






/* .screen-container{
            display: flex;
            justify-content: center;
            margin-top: 110px; 
           
        }
        .screen{
            display:block;
            width: 700px;
            height: 500px ;
            text-align:center;
            vertical-align:middle;
            background:url("../images/screen.png") no-repeat;
            background-size: contain;
    
          }
     */